body {
    background-color: #e2e7ec;
    padding: 90px 240px 209px 240px;
}

.image-background {
    background-image: url('./images/col8.png');
    background-repeat: no-repeat;
    background-position: center center center;
    height: 100%;
    width: 600px;
    padding-top: 350px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0 0 0 10px;
}

time {
    color: #818181;
    font-size: 10px;
    font-weight: bolder;
}

.rows {
    flex-wrap: nowrap;
    min-width: 800px;
    justify-content: space-between;
    margin-bottom: 15px;
}


